In [1]:
import pandas as pd

In [2]:
datos_cebollitas = pd.read_csv("./data/partidos_cebollitas.csv")
datos_cebollitas.head()

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio
0,2023-01-01,Atlético Python,Cebollitas FC,2,0,54,46,12,6,Python Arena
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML
2,2023-01-15,Cebollitas FC,Data United,1,0,55,45,10,7,Python Arena
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas
4,2023-01-29,Data United,Cebollitas FC,5,3,52,48,7,12,Estadio ML

In [3]:
datos_cebollitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha_partido           100 non-null    object
 1   equipo_local            100 non-null    object
 2   equipo_visitante        100 non-null    object
 3   goles_local             100 non-null    int64
 4   goles_visitante         100 non-null    int64
 5   posesion_local (%)      100 non-null    int64
 6   posesion_visitante (%)  100 non-null    int64
 7   tiros_arco_local        100 non-null    int64
 8   tiros_arco_visitante    100 non-null    int64
 9   estadio                 100 non-null    object
dtypes: int64(6), object(4)
memory usage: 7.9+ KB

In [4]:
datos_cebollitas.isnull().sum()
datos_cebollitas["goles_local"] = datos_cebollitas["goles_local"].fillna(datos_cebollitas["goles_local"].mean())

In [5]:
#one hot encoding
datos_preparados = pd.get_dummies(datos_cebollitas, columns=["equipo_visitante", "equipo_local"])
datos_preparados.head()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,False,True,False,False,False,True,False,False,False,False
1,2023-01-08,1,5,60,40,12,3,Estadio ML,True,False,False,False,False,False,False,False,True,False
2,2023-01-15,1,0,55,45,10,7,Python Arena,False,False,True,False,False,False,True,False,False,False
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,False,False,True,False,False,True,False,False,False,False
4,2023-01-29,5,3,52,48,7,12,Estadio ML,False,True,False,False,False,False,False,True,False,False

In [6]:
#Remove duplicates
print(datos_preparados.shape)
datos_preparados.drop_duplicates(inplace=True)
print(datos_preparados.shape)

(100, 18)
(100, 18)

In [7]:
datos_preparados["fecha_partido"] = pd.to_datetime(datos_preparados["fecha_partido"])
datos_preparados.head()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio,equipo_visitante_Atlético Python,equipo_visitante_Cebollitas FC,equipo_visitante_Data United,equipo_visitante_NumPy City,equipo_visitante_Real Pandas,equipo_local_Atlético Python,equipo_local_Cebollitas FC,equipo_local_Data United,equipo_local_NumPy City,equipo_local_Real Pandas
0,2023-01-01,2,0,54,46,12,6,Python Arena,False,True,False,False,False,True,False,False,False,False
1,2023-01-08,1,5,60,40,12,3,Estadio ML,True,False,False,False,False,False,False,False,True,False
2,2023-01-15,1,0,55,45,10,7,Python Arena,False,False,True,False,False,False,True,False,False,False
3,2023-01-22,2,3,57,43,3,3,Campo Pandas,False,False,True,False,False,True,False,False,False,False
4,2023-01-29,5,3,52,48,7,12,Estadio ML,False,True,False,False,False,False,False,True,False,False

In [8]:
datos_preparados.describe()

,fecha_partido,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante
count,100,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2023-12-13 12:00:00,2.63000,2.540000,50.250000,49.750000,7.580000,7.870000
min,2023-01-01 00:00:00,0.00000,0.000000,40.000000,40.000000,3.000000,3.000000
25%,2023-06-23 06:00:00,1.00000,1.000000,45.000000,44.750000,5.000000,5.000000
50%,2023-12-13 12:00:00,3.00000,3.000000,51.000000,49.000000,7.500000,8.000000
75%,2024-06-03 18:00:00,4.00000,4.000000,55.250000,55.000000,10.000000,11.000000
max,2024-11-24 00:00:00,5.00000,5.000000,60.000000,60.000000,12.000000,12.000000
std,NaN,1.58691,1.788967,6.035878,6.035878,2.899599,2.966667